/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

/* Colours */
$light-red: #FF8784;
$red: #d81c1c;
$light-grey: #b4bac4;
$green: #31773a;
$light-green: #9de0a6;
$white: #FFFFFF;
$black: #000000;


/* Spacers */
$small-spacer: 20px;

/* Button Items */
$button-padding-small: 12px 40px;
$button-radius-rounded: 50px;
$button-border-width: 2px;
