/* Notifications Styling */
.notifications__container {
  position: fixed;
  width: 100%;
  padding: $small-spacer;
}

.notifications__container--success {
  background: $light-green;
  color: $green;
  border: thin solid $green;
}

.notifications__container--error {
  background: $light-red;
  color: $red;
  border: thin solid $red;
}

.notifications__container--close {
  float: right;
  padding: 0 10px;
  cursor: pointer;
}

.notifications {
  list-style: none;
}

.notification {}
